<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<% if (pricesp){ %>
	<%= pricesp.id %>
	<%= pricesp.make %>
	<%= pricesp.model %>
	<% } else { %>
	<h2> No vehicle found </h2>
	<% } %>

		
		
</body>
</html>